ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(253, 249, 244);
  border: 1px solid black;
}

.desktop {
  display: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.signin:hover {
  background-color: aqua;
}
.signup:hover {
  background-color: green;
  color: white;
}

li a:hover:not(.active):not(.navBrand):not(.signin):not(.signup) {
  background-color: #111;
  color: white;
}

.active {
  background-color: #7a7a7a;
  color: white;
}

.rightLink {
  float: right;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(248, 222, 192);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .desktop {
    display: block;
  }
  #mySidenav {
    display: none;
  }
  .sideHumberger {
    display: none;
  }
}
